body {
  font-family: "Montserrat";
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.5rem;
}



/* Title Section */
#title {
  background-color: #ff4c68;
  color: #fff;
}

#title > .container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 1 1 4.5rem;
  margin-bottom: 5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 3% 2% 3% 0;
}

#title .col-lg-6 {
  position: relative;
}


.dog_img {
    position: absolute;
    right: 20%;
    transform: rotate(25deg);
    width: 60%;
}

@media (max-width: 992px) {
  #title .col-lg-6 {
      text-align: center;
  }

  .dog_img {
      position: static;
      transform: rotate(0deg);
  }
}


/* Features Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-paragraph {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

/* Press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing Section */
#pricing {
  padding: 4em;
}

.pricing-card {
  text-align: center;
  height: 22rem;
  margin: 5% 0%;
}

/* CTA Section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

#cta h3 {
  font-size: 3rem;
  padding: 4rem 6rem;
}

/* Footer Section */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 6rem 6rem;
}

#footer i {
  padding: 0.5%;
}

#footer p {
  margin-top: 1rem;
}
